In [8]:
import pandas as pd
import numpy as np

#### 1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data.

In [3]:
p1=pd.Series([10,20,30,40,50])
print(p1)

0    10
1    20
2    30
3    40
4    50
dtype: int64

#### 2. Write a Pandas program to convert a Panda module Series to Python list and itâ€™s type.

In [4]:
p1=pd.Series([10,20,30,40,50])
p1=[p1]
print(p1)
print(f"type {type(p1)}")

[0    10
1    20
2    30
3    40
4    50
dtype: int64]
type <class 'list'>

#### 3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
   Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [5]:
p1=pd.Series([2, 4, 6, 8, 10])
p2=pd.Series([1, 3, 5, 7, 9])
print(f"add = {p1+p2}")
print(f"sub = {p1-p2}")
print(f"mul = {p1*p2}")
print(f"div = {p1/p2}")

add = 0     3
1     7
2    11
3    15
4    19
dtype: int64
sub = 0    1
1    1
2    1
3    1
4    1
dtype: int64
mul = 0     2
1    12
2    30
3    56
4    90
dtype: int64
div = 0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

#### 4. Write a Pandas program to convert a dictionary to a Pandas series.

In [6]:
d={1:10,2:20,3:30,4:40}
print(f"type = {type(d)}")
p1=pd.Series(d)
print(f"type = {type(p1)}")

type = <class 'dict'>
type = <class 'pandas.core.series.Series'>

#### 5. Write a Pandas program to convert a NumPy array to a Pandas series.

In [9]:
arr1=np.array([11,22,33,44,55])
print(f"type = {type(arr1)}")
p1=pd.Series(arr1)
print(f"type = {type(p1)}")

type = <class 'numpy.ndarray'>
type = <class 'pandas.core.series.Series'>

#### 6. Write a Pandas program to change the data type of given a column or a Series.

In [10]:
p1=pd.Series([11,22,33,44,55]).astype(str)
print(p1)

0    11
1    22
2    33
3    44
4    55
dtype: object

#### 7. Write a Pandas program to convert a given Series to an array.

In [11]:
p1=pd.Series([11,22,33,44,55])
print(f"type = {type(p1)}")
arr1=np.array(p1)
print(f"type = {type(arr1)}")

type = <class 'pandas.core.series.Series'>
type = <class 'numpy.ndarray'>

#### 8. Write a Pandas program to create a dataframe from a dictionary and display it.

In [12]:
p1=pd.DataFrame([{"name":"Anish","age":22,"sex":"M"}])
print(p1)

    name  age sex
0  Anish   22   M

#### 9. i) Create a list of empids and names (10 employees).
####    ii) Convert list into Series.
####   iii) Print type of Series.
####   iv) Convert Series into DataFrame.
####   v) a) Display all records.
#####      b) Display first five records.
#####      c) Display last five records.
#####      d) Display first two and last two records.
#####      e) Display name of 5th employee.
#####      f) Display record of 4th employee.
####    vi) Save the record in csv file (MyRecord.csv)

In [13]:
empid=[100,102,103,104,105,106,107,108,109,110]
name=["Anish","Manoj","Pushpak","Swetang","Vrishal","Pritambra","Akshita","Sneha","Vidhi","Roshan"]
empid=pd.Series(empid)
name=pd.Series(name)
print(f"type = {type(empid)}{type(name)}")
p1=pd.DataFrame({"empid":empid,"name":name})
print(p1)
print(p1.head())
print(p1.tail())
print(p1.head(2),p1.tail(2))
print(p1.iloc[4]["name"])
print(p1.iloc[3])
p1.to_csv("MyRecord.csv")

type = <class 'pandas.core.series.Series'><class 'pandas.core.series.Series'>
   empid       name
0    100      Anish
1    102      Manoj
2    103    Pushpak
3    104    Swetang
4    105    Vrishal
5    106  Pritambra
6    107    Akshita
7    108      Sneha
8    109      Vidhi
9    110     Roshan
   empid     name
0    100    Anish
1    102    Manoj
2    103  Pushpak
3    104  Swetang
4    105  Vrishal
   empid       name
5    106  Pritambra
6    107    Akshita
7    108      Sneha
8    109      Vidhi
9    110     Roshan
   empid   name
0    100  Anish
1    102  Manoj    empid    name
8    109   Vidhi
9    110  Roshan
Vrishal
empid        104
name     Swetang
Name: 3, dtype: object

#### 10. i) Read the MyRecord.csv file. 
#####    ii) Create a new column Salary.

In [14]:
p1=pd.read_csv("MyRecord.csv")
print(p1)
p1['Salary']=np.random.randint(10000,30000,10)
print(p1)

   Unnamed: 0  empid       name
0           0    100      Anish
1           1    102      Manoj
2           2    103    Pushpak
3           3    104    Swetang
4           4    105    Vrishal
5           5    106  Pritambra
6           6    107    Akshita
7           7    108      Sneha
8           8    109      Vidhi
9           9    110     Roshan
   Unnamed: 0  empid       name  Salary
0           0    100      Anish   15017
1           1    102      Manoj   14351
2           2    103    Pushpak   26894
3           3    104    Swetang   15591
4           4    105    Vrishal   27787
5           5    106  Pritambra   26624
6           6    107    Akshita   24582
7           7    108      Sneha   21112
8           8    109      Vidhi   29181
9           9    110     Roshan   14525

#### 11. Refer the dataset "Advertising.csv" and perform following tasks.

##### i) Read the dataset "Advertising.csv" in data frame.

##### ii) Print first five records of dataset.

##### iii) print last five records from dataset.

##### iv) display the columns inside the dataset.

##### v) display last three records from dataset.

##### vi) display the information about the dataset and analyse the data.

##### vii) display types of each columns.

##### viii) check for null values in the dataset and display the sum of null values inside the column.

##### ix) drop a column 'radio' from a dataset and display first ten records.

##### x) increase the sales by 10% and add a new column "updated_sales" in dataframe.

##### xi) display shape of data.

##### xii) Find out maximum,minimum,mean,median,standard deviation value of each column.

##### xiii) describe the dataset.

#### 12. Refer the dataset "Salaries.csv" and perform following tasks.

##### i) Read the dataset in dataframe.

##### ii) display first five records.

##### iii) display first ten records.

##### iv) display last five records.

##### v) display last ten records.

##### vi) display the columns inside the dataset.

##### vii) display shape of data.

##### viii) describe the dataset.

##### ix) display the information about the dataset and analyse the data.

##### x) display types of each columns.

##### xi) Find out maximum,minimum,mean,median,standard deviation value of each column.